.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 40px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
    width: 300px;
}
.input-email{
    margin-bottom: 22px;
}
.form a{
    color: var(--hospital-green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 54px;
}
.secodary-button{
    background-color: var(--white);
    border-radius: 8px;
    border: solid 1px var(--hospital-green);
    color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
@media (max-width:640px){
    .secodary-button{
        width: 300px;
        position: absolute;
        bottom: 20px;
    }
}